<header class="appheader bg-green flex justify-between items-center">
    <nav class="iconnav text-3xl">
        <button class="text-white">
            <i class="icon-menu"></i>
        </button>
        <button class="text-white">
            <i class="icon-question"></i>
        </button>
        <button class="text-white">
            <i class="icon-email"></i>
        </button>
    </nav>
    <div class="logo w-48 p-4">
        <a href="#" title="Logo">
            <img src="./images/logo.png">
        </a>
    </div>
    <div class="">
        <button class="text-white">
            <i class="icon-login_colored"></i>
        </button>
    </div>
</header>

