<header class="appheader bg-green flex justify-between">
    <nav class="iconnav">
        <button class="">
            <i class="icon-menu"></i>
        </button>
        <button class="">
            <i class="icon-question"></i>
        </button>
        <button class="">
            <i class="icon-email"></i>
        </button>
    </nav>
    <div class="logo w-64 p-4">
        <a href="#" title="Logo">
            <img src="./images/logo.png">
        </a>
    </div>
    <div class="">
        <button class="">
            <i class="icon-login_colored"></i>
        </button>
    </div>

</header>
