<!-- index.nunjucks -->
{% extends "layout.nunjucks" %}

{% block content %}
<h1>About</h1>


<div class="group hover:bg-blue p-4 cursor-pointer bg-white rounded max-w-xs w-full shadow-lg select-none overflow-hidden mx-auto"><p class="font-semibold text-lg mb-1 text-black group-hover:text-white">New Project</p> <p class="text-grey-darker group-hover:text-white mb-2">Create a new project from a variety of starting templates.</p></div>

{% import 'macros/navigation.nunjucks' as nav %}

<!-- Creating the navigation with activePage = 'home' -->
{{nav.active('about')}}

<div class="gallery">
  <!-- Loops through "images" array -->
  {% for image in images %}
  <div class="gallery__item">
    <img src="images/{{image.src}}" alt="{{image.alt}}">
  </div>
  {% endfor %}
</div>

{% endblock %}