
{% macro active( buttonStyle='') %}
    {% if activePage == '' %}
        <button class="bg-purple hover:bg-purple-dark text-white font-bold px-4 py-2 rounded mr-1 mb-2">
            Button
        </button>
    {% endif %}
{% endmacro %}
